<div class="total-footer">
    <div class="container">
        <h1>Design desenvolvido por Luiza Ferreira</h1>

        <h1>Copyright © 2024 LF </h1>

        <div class="icons">
            <a href="https://www.linkedin.com/in/luizaferreirafonseca/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/luizaferreirafonseca"><i class="bi bi-github"></i></a>
            <a  href="https://api.whatsapp.com/send?phone=21965205836" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
</div>