<div class="total-content">
    <app-header></app-header>
    
    <div class="content">
    
        <div class="content2">
            <div class="texts">
                <div class="text1">
                    <h3>Quem sou eu?</h3>

                    <p>Eu sou a <strong class="purple-text">Luiza Ferreira</strong> e eu moro no <strong class="purple-text">Rio de Janeiro, Brasil</strong>.
                    <p>Eu sou graduada em Letras (Português - Inglês), tenho pós graduação em Bilinguismo e atualmente faço o curso de Análise e Desenvolvimento de Sistemas.</p>
                    <p>Hoje atuo como desenvolvedora fullstack e amo solucionar problemas, aprender e conhecer novas linguagens e áreas do mundo da Tecnologia. </p>
                    <p>Estou sempre aprimorando os meus conhecimentos e em busca de novos desafios e oportunidades para o crescimento.</p>
                </div>

                <div class="list">
                    <p>Ah, algumas outras atividades que amo fazer:</p>
                    <ul>
                        <li><i class="bi bi-bookmark-heart"></i> Ler</li>
                        <li><i class="bi bi-translate"></i>Aprender novas línguas</li>
                        <li><i class="bi bi-flower1"></i>Cuidar das minhas plantas</li>
                        <li><i class="bi bi-heart"></i>Yoga</li>
                    </ul>
                </div>

                <div class="phrase">
                    <p class="light-purple">"Strive to build things that make a difference!"</p>
                    <p class="light-purple">- Soumyajit</p>
                </div>
            </div>

            <div class="image">
                <img src="assets/images/pc.png" class="pc-image">
            </div>


      
        </div>


        <div class="content3">
            <h3>Habilidades</h3>
            
            
            <div class="icons-ability">
                <div class="part">
                    <div class="molde">
                        <i class="devicon-javascript-plain"></i>
                    </div>
                    <div class="molde">
                        <i class="devicon-typescript-plain"></i>
                    </div>
                    <div class="molde">
                        <i class="devicon-bootstrap-plain"></i>
                    </div>
                    <div class="molde">
                        <i class="devicon-html5-plain"></i>
                    </div>
                    <div class="molde">
                        <i class="devicon-angularjs-plain"></i>
                    </div>
                    <div class="molde">
                        <i class="devicon-sqlite-plain-wordmark"></i>
                    </div>
                </div>
                <div class="part">
                    <div class="molde">
                        <i class="devicon-csharp-plain"></i>
                    </div>  
                    <div class="molde">
                        <i class="devicon-nodejs-plain-wordmark"></i>
                    </div> 
                
                    <div class="molde">
                        <i class="devicon-css3-plain-wordmark"></i>
                    </div> 
                    <div class="molde">
                        <i class="devicon-figma-plain"></i>
                    </div> 
                    <div class="molde">
                        <i class="devicon-github-original"></i>
                    </div>
                    <div class="molde">
                        <i class="devicon-mysql-plain-wordmark"></i>
                    </div>
                    
                </div>
            </div>
          
        </div>


        <div class="content4">
            <h3>Dias de código</h3>

            <div class="estatistica"></div>
        </div>
    </div>
    
</div>
