* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}



.total-content{
    height: 100%;
    background-color: #21023b;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;

   
  
}

.content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    
    
    
}

.content2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 10%;
    gap: 80px;
}

.content3{
    color: white;
}

.texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    
}

.list{
    font-size: 1.1rem;
    padding-top: 20px;
    
    
}

.list ul li i {
    padding-right: 7px;
}

.list ul{
    padding-left: 20px;
    padding-top: 10px;
}

.text1 h3{
    text-align: center;
    padding-bottom: 40px;
    font-weight: 600;
}

.text1 p{
    padding-top: 7px;
    padding-bottom: 7px;
}

.phrase{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.purple-text{
    color: #c95bf5;
}

.light-purple{
    color: rgb(155, 126, 172);
}

.pc-image{
    width: 430px;
}


.content3 h3{
    font-weight: 600;
    
}

.content3{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.icons-ability{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.part{
    display: flex;
    gap: 60px;
    font-size: 3.8rem;
    color: #c95bf5;

}

.molde{
    border-top-left-radius: 2.5rem;
    border: none;
    width: 7rem;
    background-color: #272727;
    text-align: center;
    padding-top: 10px;
    border-bottom: 2px solid  #8257E6;
   
    
}





.content4{
    color: white;
    padding-top: 8%;
    
}

.content4 h3{
    font-weight: 600;
}