<div class="total-content">
    <app-header></app-header>
    
    <section class="section-one">
        <div class="text">
            <h3>Meus <strong class="projects-word">projetos</strong> recentes</h3>
            <p>Aqui você pode conferir projetos que trabalhei recentemente.</p>
        </div>

        <div class="projects">
            <div class="card" *ngFor="let card of cards">
                <div class="image-top">
                    <img [src]="card.imageSrc">
                </div>
                <div class="text-content">
                    <p>{{card.title}}</p>
                    <p class="descript">{{card.description}}
                    </p>
                </div>

                <div class="div-transparente">
                    <div class="buttons d-flex">
                        <button class="view-button" (click)="viewClick(card)">View</button>
                        
                    </div>
                </div>
            </div>

           

        </div>

        <div class="text2">
            <h3>Acesse meu <strong class="projects-word">GitHub</strong></h3>
            <p>No meu <a href="https://github.com/luizaferreirafonseca" target="_blank">GitHub</a>, você pode conhecer alguns projetos menores em desenvolvimento, principalmente para treinos.</p>
        </div>
    </section>

    <app-footer></app-footer>
</div>
