


<div class="total-content">
    <div class="main-container">
        <app-header></app-header>
        <div class="container">
            <div class="texts">
                <h1>Hi, there!
                    <span class="wave" role="img" aria-labelledby="wave">👋🏻</span>
                </h1>
                <h1>Eu sou a
                    <strong class="name">Luiza Ferreira</strong>
                </h1>
                <h1 class="animated-text">DESENVOLVEDORA FULLSTACK</h1>
            </div>

            <a href="https://github.com/luizaferreirafonseca">
                <div class="image">
                    <img src="assets/images/luiza.png" class="myimage">
                </div>
            </a>
        </div>
    </div>

    <div class="second-container">
        <h1 class="text-find">Me encontre :)</h1>
        <p>Sinta-se à vontade para se <strong class="connect">conectar</strong> comigo!</p>
        <div class="icons">
            <a href="https://www.linkedin.com/in/luizaferreirafonseca/"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/luizaferreirafonseca"><i class="bi bi-github"></i></a>
            <a  href="https://api.whatsapp.com/send?phone=21965205836" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>

        </div>
    </div>

    <app-footer></app-footer>
</div>


